<%- include ("../include/_header.ejs") %>

<main id="site-main">
    <div class="container">
       <h1 class="text-dark text-gradient text-center" >ADMINISTRAÇÃO DO SISTEMA</h1><br><br>
       <div class="jumbotron">
       <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class=" d-flex justify-btween">
           
                <a href="/user"  class="border-shadow btn btn-lg btn-info">   
                   <span class="text-dark"><i class="fas fa-users"></i>USUÁRIOS</span>
                </a>   
               </div>
        </div>
        <div class="col-md-3">
            <div class=" d-flex justify-btween">
           
            <a href="/listaDocumento"  class="border-shadow btn btn-lg btn-info">   
                   <span class="text-dark"><i class="fas fa-info"></i>DOCUMENTOS</span>
            </a>   
            </div>
            
        </div>
        <div class="col-md-3">
            <div class=" d-flex justify-btween">
              
           <a href="#"  class="border-shadow btn btn-lg btn-info">   
             <span class="text-dark"><i class="fas fa-info"></i>OUTROS ITENS</span>
           </a>   
           </div>
       </div>
    </div>
      </div>
 
</div></main>  






<%- include ("../include/_footer.ejs") %>