<nav class="navbar navbar-default navbar-static-top navbar-inverse" >
  <div class="container" >
    <ul class="nav navbar-nav ">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="right">
        <a href="documento"><span class=""></span>Documentos</a>
       

      </li>
      <li> <a href="objectos"><span class=""></span>Outros obectos</a></li>
   </ul>
 
     <a href="Login">LoGIN</a>
  
</nav>


