<%- include ("include/_header.ejs") %>

<main id="site-main">
  <div class="container">
   <div class="jumbotron" >
     <h2 class="text-center"> KUSSANGA, encontre o seu documento perdido na via pública de Luanda</h2>
    
   </div>

<div class="form-row">
  <br>
  <div class="form-title text-center">
  <h4 class="text-dark">PESQUISAR POR DOCUMENTOS</h4><br>
  <div class="col-md-1"></div>
  <div class="col-lg-3">
    <input type="text" name="numero_doc" class="form-control" placeholder="Número do documento" >

 
   </div>
  <div class="col-lg-3">
   <input type="text" name="nome" class="form-control" placeholder="Titular do documento" >

  </div>
  <div class="col-lg-3">
    <input type="text" name="local" class="form-control" placeholder="Local da Perda" >
 
   </div> <div class="col-md-2">
    <button type="button" class=" btn btn-lg btn-primary" >Procurar</button>
  </div>

   </div><br><br><br><br>
   <div class="row " >
    <div class="col-lg-4"></div> 
 
</div>

</div>
</div>

</div>
</main>

<%- include ("include/_footer.ejs") %>

