<title>KUSSANGA</title>
<link rel="stylesheet" href="css/styles.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<header id="header">  
        <nav class="nav-brand text-dark "  >   

        <a class="navbar-brand text-light" href="/">KUSSANGA</a>
         <div class="container">
           <div class="text-right">
            <ul class="nav navbar-nav ">
            <li>
                <a href="#" class=" text-dark">Contactos</a>
            </li>
          
               
            <li> <a href="cadastro"  class=" text-dark">Registar-se</a></li>
            <li class="text-right">
                <a href="/admin" class="text-dark">Admin</a></li></ul>
            </div>
     </div></div>
    </nav>
</header>

  