<%- include ("../include/_header.ejs") %>

<main id="site-main">
        <div class="form-title text-center">
            <h2 class="text-dark">LOGIN</h2>
        
        <form  method="POST" id="login">
           <div class="new_user">
               <div class="form-group">
               <label for="nome" class="text-light">Nome </label>
             
               <input type="text" class="" name="nome" placeholder="Nome de usuario"  class="form-control">  <br>  <br>
               </div>
               <div class="form-group">
                <label for="email" class="text-light">Email</label>
                <input type="text" class="" name="email" placeholder="EmailJunild@hotmail"  class="form-control">    
                </div>
                <br>

                <div class="form-group">
                  <button type="submit" class="btn btn-dark update"> Entrar</button> 
                    </div>
                </div>
        </form></div>
</main>

<%- include ("../include/_footer.ejs") %>

